<h1>Editing articles</h1>

<!--
    The first argument of the form_for could be an instance var, like @article.
    Using :article though does the same thing, as long as the symbol name is the same
    as the instance variable.

    Edit: If we use the instance variable @article, there's no need to specify the url
          or the method; @article is a resource corresponding to a full set of RESTful
          routes and Rails can infer the right URI and method.
          This is how the form is used in the partial _form.html.erb
-->
<%#= form_for @article do |f| %>
<%#= form_for :article, url: article_path(@article), method: :patch do |f| %>

    <%# if @article.errors.any? %>
        <!--
        <div id="error_explanation">
            <h2><%#= pluralize(@article.errors.count, "error") %>prohibited this article from being saved:</h2>
            <ul>
              <%# @article.errors.full_messages.each do |msg| %>
                <li><%#= msg %></li>
              <%# end %>
            </ul>
        </div>
        -->

    <%# end %>

    <!--
    <p>
        <%#= f.label :title %><br>
        <%#= f.text_field :title %>
    </p>
    -->

    <!--
    <p>
        <%#= f.label :text %><br>
        <%#= f.text_area :text %>
    </p>
    -->

    <!--
    <p>
      <%#= f.submit %>
    </p>
    -->

<%# end %>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>