<h1>New article</h1>


<!--
    The url: articles_path helper points the to 'articles' prefix in a url.
    Since this form creates a new article, it uses the POST method to do so,
    so it will use the 'POST articles' protocol. Looking in the 'rake routes'
    this route points to the 'articles#create' url.

    Edit: If we use the instance variable @article, there's no need to specify the url
          or the method; @article is a resource corresponding to a full set of RESTful
          routes and Rails can infer the right URI and method.
          This is how the form is used in the partial _form.html.erb
-->

<%#= form_for @article do |f| %>
<%#= form_for :article, url: articles_path do |f| %>

    <!-- Where do those errors come from? -->
    <%# if @article.errors.any? %>
        <!--
        <div id="error_explanation">
          <h2><%#= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
          <ul>
            <%# @article.errors.full_messages.each do |msg| %>
                <li><%#= msg %></li>
            <%# end %>
          </ul>
        </div>
        -->
    <%# end %>

    <!--<p>-->
    <!--
        :title refers to the title property of the article resource
        Typically, this means the title column in the article table.
        The same goes for the :text below.
    -->
        <%#= f.label :title %> <!--<br>-->
        <%#= f.text_field :title %>
    <!--</p>-->

    <!--
    <p>
        <%#= f.label :text %><br>
        <%#= f.text_area :text %>
    </p>
    -->

    <!--<p>-->
      <!--
          If you view the HTML code produced, this button has a name ="commit",
          of type="submit" with value="Save Article".
          It knows it saves an article from the "submit" type and that
          it refers to an Article from the form builder (recall form_for :article on top)
      -->
      <%#= f.submit %>
        <!--
            When the form is submitted, its contents will be passed to Rails as 'parameters'.
            Those 'parameters' can be references inside the controller actions and do sth with them.
        -->
    <!--</p>-->
<%# end %>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>